/* http://www.colorhunt.co/c/22272 */

body {
    background: url("../img/weather-menu.jpg") no-repeat center center fixed;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
    background-color: transparent;
}
.title h1 {
    font-family: 'Amatic SC', cursive;
    color: #112D4E;
    font-size: 75px;
    margin-top: 25px;
}

img {
    display: none;
}

img[src] {
   display: block;
 }

 #icon{
     width: 64px;
     height: auto;
     margin: 0 auto;
 }

 .element{
     font-family: 'Raleway', sans-serif;
 }

/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../img/Preloader_1.gif") center no-repeat #fff;
}
