/* http://www.colorhunt.co/c/22272 */

body {
    background: url("../img/weather-menu.jpg") no-repeat center center fixed;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title h1 {
    font-family: 'Amatic SC', cursive;
    color: #112D4E;
    font-size: 75px;
    margin-top: 25px;
}

img {
    display: none;
}

img[src] {
   display: block;
 }

 #icon{
     width: 64px;
     height: auto;
     margin: 0 auto;
 }
